################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/YOLOImp/model_data/yolo.h5
/YOLOImp/images
/YOLOImp/out
/YOLOImp/video
/YOLOImp/model_data/yolov3.cfg
/YOLOImp/model_data/yolov3.h5
/YOLOImp/model_data/yolov3.weights
